@{
    ViewData["Title"] = "Home Page";
}

  


    <div class="container">
        
        <h1 class="display-4">Welcome to the Voter Portal</h1>
        <p>Your gateway to voting resources and information. Learn about.</p>
        <a href="/VoterUI/Index">Get Started</a>
    </div>

